header {
    position:relative;
    height: 50px;
    width: 100%;
    z-index:2;
}

.navbar{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    list-style: none;
    animation: header 6s; 
    transform: translateY(-100px);
    animation-fill-mode: forwards;
} 

.link {
    text-decoration: none;
    color:rgb(0, 225, 255);
    font-size: 20px;
    letter-spacing: 4px;
    z-index:0;
}

.link:hover {
    font-size: 21px;
}

@keyframes header {
    from { opacity: 0.3; }
    to { opacity: 1; transform: translateY(0);} 
}